In [1]:
import datetime
import pandas as pd
import numpy as np

In [2]:
order_items = pd.read_csv('olist_order_items_dataset.csv')

In [3]:
order_items['shipping_limit_date'] = order_items['shipping_limit_date'].str[:7]

In [4]:
order_items

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02,199.90,18.14
...,...,...,...,...,...,...,...
112645,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-05,299.99,43.41
112646,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,2018-07,350.00,36.53
112647,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,2017-10,99.90,16.95
112648,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,2017-08,55.99,8.72
112649,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06,43.00,12.79

In [7]:
revenue = order_items.sort_values('shipping_limit_date').groupby('shipping_limit_date').agg(
    revenue=pd.NamedAgg(column='price', aggfunc=sum),
    total_order=pd.NamedAgg(column='order_id', aggfunc=lambda x: x.nunique()),
)

In [10]:
revenue

                        revenue  total_order
shipping_limit_date
2016-09                  194.47            2
2016-10                49580.55          309
2016-12                   10.90            1
2017-01                80124.74          573
2017-02               245982.01         1650
2017-03               343242.60         2401
2017-04               308148.32         2111
2017-05               505655.46         3674
2017-06               469001.05         3385
2017-07               465282.10         3643
2017-08               560093.34         4403
2017-09               617046.12         4165
2017-10               658020.23         4490
2017-11               883351.63         6314
2017-12               898920.98         6772
2018-01               845279.18         6656
2018-02               819228.85         6450
2018-03              1030527.84         7636
2018-04               958729.70         6656
2018-05              1084358.55         7572
2018-06               870736.84         6019
2018-07               811132.08         5922
2018-08              1072147.70         7823
2018-09                14502.50           82
2020-02                  145.98            2
2020-04                  199.98            1